/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: dimgray;
}

.users {
  margin: 20px;
}

.name {
  color: #222;
  font-size: 17px;
  font-weight: bold;
}

.username {
  font-weight: bold;
  font-style: italic;
  color:dimgray;
}

.bio {
  font-size: 15px;
}

.country {
  width: fit-content;
  padding: 7px;
  font-size: 12px;
  background-color: #ccc;
  color: #222;
  border-radius: 7px;
}
